@import 'Authentication';
@import 'Sidebar';
@import 'NewTweet';

html, body, #main {
  height: 100%;
}

.flexbox-container {
  display:flex;
  height: 100%;

  .nav-wrapper {
    text-align: center;
  }
}

.flexbox-contents {
  flex-grow: 1;
  word-wrap: break-word;
  min-width: 0;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn-full {
  width: 100%;
}

.card-content {
  word-wrap: break-word;
}

.container {
  height: 100%;
}

.secondary-content {
  top: 10px;
}

.btn.small {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  line-height: 28px;
  height: 28px;
}

.avatar {
  height: 42px;
  min-width: 42px;
  vertical-align: top;
  text-align: center;
  line-height: 42px;
  background-color: #eeeeee;
  border-radius: 10px;
}

.tweet {
  display: flex;

  .avatar {
    margin-right: 15px;
  }
  .tweet-info {
    flex-grow: 1;
  }
}
