$color: #333;

/* label color */
.input-field label {
 color: $color;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: $color;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid $color;
 box-shadow: 0 1px 0 0 $color;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid $color;
 box-shadow: 0 1px 0 0 $color;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid $color;
 box-shadow: 0 1px 0 0 $color;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: $color;
}
