.sidebar {
  min-width: 80px;
  height: 100%;

  .sidebar-items {
    display: flex;
    flex-flow: column;
    height: 100%;
    position: fixed;
    min-width: 80px;
  }

  .material-icons {
    font-size: 40px;
    text-align: center;
    color: #bbdefb;
    width: 100%;
  }

  button.sidebar-button {
    background: none;
    border: none;
    height: 60px;
    width: 100%;
    align-self: flex-start;

    &:hover {
      color: #2196f3;
    }
  }

  .sidebar-space {
    flex-grow: 20;
  }

  .sidebar-status {
    align-self: flex-end;
    height: 30px;
    width: 100%;
    text-align: center;
    color: #bbdefb;
  }
}
